apiVersion: apps/v1
kind: Deployment
metadata:
  name: netflix
  namespace: netflix
  labels:
    app: netflix
spec:
  replicas: 1
  selector:
    matchLabels:
      app: netflix
  template:
    metadata:
      labels:
        app: netflix
    spec:
      containers:
        - name: netflix
          image: sohila11/netflix-clone:main-c89b247
          imagePullPolicy: Always
          ports:
            - containerPort: 80
